.App {
  max-width: 1200px;
  margin: auto;
  padding-left: 16px;
  padding-right: 16px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  padding-top: 32px;
  margin-bottom: 88px;
}

.App-intro {
  font-size: large;
}

.H1 {
  margin-bottom: 16px;
  font-size: 3.5rem;
  line-height: 4rem;
  letter-spacing: -2px;
}

.H2 {
  margin-bottom: 0.5rem;
  font-size: 2.75rem;
  letter-spacing: -0.125rem;
}

.Lead-text {
  margin-top: 0;
  font-size: 1.5rem;
  line-height: 2rem;
}

.Work {
  flex-direction: column;
  max-width: 1056px;
  margin: 0 auto;
}

.Project-right-aligned {
  align-items: center;
  justify-content: flex-end;
}

.Project-left-aligned {
  align-items: center;
}

@media (min-width: 960px) {
  .Work, .Project-left-aligned, .Project-right-aligned {
    display: flex;
  }
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
