.App {
  padding-left: 16px;
  padding-right: 16px;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  display: flex;
  align-items: center;
  padding-top: 32px;
  margin-bottom: 88px;
}

.App-header-icon {
  display: none;
  margin: 4px;
  margin-bottom: -8px;
}

@media (min-width: 960px) {
  .App-header-icon {
    display: inline-block;
  }
}

.H1 {
  margin-bottom: 12px;
  font-size: 3.5rem;
  line-height: 4rem;
  letter-spacing: -2px;
}

.H2 {
  margin-bottom: 0.5rem;
  font-size: 2.75rem;
  line-height: 3.25rem;
  letter-spacing: -0.125rem;
}

.Lead-text {
  margin-top: 0;
  font-size: 1.25rem;
  line-height: 1.7rem;
}

.Link {
  color: #5F40A3;
}

.Work {
  flex-direction: column;
  max-width: 1056px;
  margin: 0 auto;
}

.Project-right-aligned {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 40px;
}

.Project-left-aligned {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 40px;
}

.Project-text {
  position: relative;
}

.Project-left-aligned .Project-text::after {
  z-index: -1;
  content: "";
  position: absolute;
  top: 70%;
  left: 0;
  transform-origin: left bottom;
  transform: translate(-50%, -50%) skewY(-6deg) skewX(-6deg);
  width: 880px;
  height: 480px;
  background-color: #FFF1ED;
}

.Project-right-aligned .Project-text::after {
  z-index: -1;
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  transform-origin: left bottom;
  transform: translate(-50%, -50%) skewY(6deg) skewX(6deg);
  width: 880px;
  height: 480px;
  background-color: #FFF1ED;
}

.iPhone {
  position: relative;
  z-index: 1;
}

.iPhone-media {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: -8px;
  // box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.2);
}

.iPhone-media-background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.Play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  transition: transform 175ms cubic-bezier(0.39, 0.58, 0.57, 1);
}

.Play-button:hover {
  transform: translate(-50%, -50%) scale(1);
}

@media (min-width: 960px) {
  .Work {
    display: flex;
  }
  .Project-left-aligned { flex-direction: row-reverse; }
  .Project-right-aligned { flex-direction: row; }
}

.misc-projects {
  padding-top: 40px;
}

@media screen and (min-width: 640px) {
  .misc-projects {
    display: flex;
    flex-direction: row;
    padding-left: 48px;
    padding-right: 48px;
  }

  .project-column-container:nth-child(2) {
    margin-left: 56px;
    margin-right: 56px;
  }
}

.project-column-container {
  flex: 1;
}

.project-thumb {
  display: block;
  margin-bottom: 56px;
}

.Footer {
  position: relative;
}

.Footer-top {
  position: relative;
  z-index: 1;
  align-items: flex-end;
  padding-top: 40px;
  padding-bottom: 40px;
}

.Footer-bottom {
  position: relative;
  z-index: 1;
  align-items: center;
  flex: 1;
  padding-top: 32px;
  padding-bottom: 32px;
  text-align: center;
}

.Footer-social {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.Footer-social-icon {
  display: flex;
  padding: 16px;
}

@media (min-width: 960px) {
  .Footer {
    padding-top: 125px;
  }
  .Footer-top, .Footer-bottom {
    display: flex;
  }
  .Footer-bottom {
    text-align: left;
  }
  .Footer-social {
    justify-content: flex-end;
  }
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
