.App {
  max-width: 1200px;
  margin: auto;
  padding-left: 16px;
  padding-right: 16px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  padding-top: 32px;
  margin-bottom: 88px;
}

.App-header-icon {
  display: none;
  margin: 4px;
  margin-bottom: -8px;
}

@media (min-width: 960px) {
  .App-header-icon {
    display: inline-block;
  }
}

.H1 {
  margin-bottom: 16px;
  font-size: 3.5rem;
  line-height: 4rem;
  letter-spacing: -2px;
}

.H2 {
  margin-bottom: 0.5rem;
  font-size: 2.75rem;
  letter-spacing: -0.125rem;
}

.Lead-text {
  margin-top: 0;
  font-size: 1.5rem;
  line-height: 2rem;
}

.Link {
  color: #5F40A3;
}

.Work {
  flex-direction: column;
  max-width: 1056px;
  margin: 0 auto;
}

.Project-right-aligned {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: flex-end;
}

.Project-left-aligned {
  align-items: center;
}

.iPhone {
  position: relative;
}

.iPhone-media {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (min-width: 960px) {
  .Work, .Project-left-aligned {
    display: flex;
  }
  .Project-right-aligned {
    flex-direction: row;
  }
}

.Footer {
  position: relative;
}

.Footer-top {
  position: relative;
  z-index: 1;
  align-items: flex-end;
  padding-top: 40px;
  padding-bottom: 40px;
}

.Footer-bottom {
  position: relative;
  z-index: 1;
  align-items: center;
  flex: 1;
  padding-top: 32px;
  padding-bottom: 32px;
  text-align: center;
}

.Footer-social {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.Footer-social-icon {
  display: flex;
  padding: 16px;
}

@media (min-width: 960px) {
  .Footer-top, .Footer-bottom {
    display: flex;
  }
  .Footer-bottom {
    text-align: left;
  }
  .Footer-social {
    justify-content: flex-end;
  }
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
