html {
  font: 80%/1.5 Karla, Helvetica Neue, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: #FFF1ED;
}

@media (min-width: 960px) {
  html {
    font: 100%/1.5 Karla, Helvetica Neue, Helvetica, sans-serif;
  }
}

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  background-color: white;
}
