html {
  overflow-x: hidden;
  font: 80%/1.5 Karla, Helvetica Neue, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (min-width: 960px) {
  html {
    font: 100%/1.5 Karla, Helvetica Neue, Helvetica, sans-serif;
  }
}

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
